<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>


        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup] = "mysignup" (ngSubmit) ="onSubmit()">
            <div class="form-outline mb-4">
              <input type="text" id="form3Example5"  formControlName ="name" class="form-control form-control-lg"
                placeholder="name" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="text" id="form3Example5" formControlName ="contact" class="form-control form-control-lg"
                placeholder="contact" />
            </div>

            <div class="form-outline mb-3">
                <input type="email" id="form3Example5"  formControlName ="email" class="form-control form-control-lg"
                  placeholder="email" />
              </div>

              <div class="form-outline mb-3">
                <input type="text" id="form3Example5" formControlName ="designation" class="form-control form-control-lg"
                  placeholder="Designation" />
              </div>

              <div class="form-outline mb-3">
                <input type="text" id="form3Example5"  formControlName ="qualification" class="form-control form-control-lg"
                  placeholder="Qualification" />
              </div>
  
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button"  routerLink="login" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Signin</button>
             
            </div>
  
          </form>
        </div>
      </div>
    </div>
   
  </section>

  